<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', path='bootstrap/bootstrap.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Asap&family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href = "{{ url_for('static', path='bootstrap/style.css') }}">
        <script src="https://kit.fontawesome.com/8f78af4917.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="{{ url_for('static', path='bootstrap/bootstrap.bundle.js') }}"></script>
        <title>home {{ page_name }}</title>
        <link  rel="icon" type="image/x-icon" href="">
    </head>       
<!-- body background="{{ url_for('static', path='images/bg01.jpg') }}"-->
    <body>
        {% block menu %}
            {% block navbar %}
                <nav class="navbar navbar-expand-lg navbar-dark m-3 rounded-3"style="background-color: #000000;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href=""></a>
                        <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-flex " id="navbarToggler">
                            <ul class="navbar-nav order-lg-0 order-2 ">
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        {% endblock %}
        {% block raspberry %} {% endblock %}	
    </body>
</html>
